<!DOCTYPE html>

<html>

<head> <!-- lets us configure our ddoc -->
  <meta charset="=utf-8"> <!--lets browser know how to render characters -->
  <title>Help Page</title> <!-- lets browser know what to render in the title bar, where the new tab usually is -->
</head>


<body> <!-- contains everything we want to render to the screen -->
  {{> header}}
  <p> Meow!</p>
  {{> footer}}

</body>
</html>
